
<div class="container">
    <nav class="row">

        <div class="col-md-6 nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Carsten Cleve
            </NavLink>
        </div>
        <div class="col-md nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Blogs
            </NavLink>
        </div>
        <div class="col-md nav-item px-3">
            <NavLink class="nav-link" href="CurriculumVitae">
                <span class="bold oi oi-list-rich" aria-hidden="true"></span> Curriculum
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
