@page "/Blogs"

<PageTitle>Carsten Cleve - Blogs</PageTitle>



    <h1 style="padding-left:12px;">Blogs</h1>

    @if (blogs == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
    
        <BlogViewer BlogEntries="@blogs"></BlogViewer>
    
    }
