@page "/CurriculumVitae"

@using Models
@using System.Text.Json;
@using System.Text.Json.Serialization;
<PageTitle>Carsten - Curriculum Vitae</PageTitle>

<div class="container">
    <h1>Curriculum Vitae</h1>

    @if (person == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
    
        <CurriculumVitae person="@person"></CurriculumVitae>
    
    }
</div>
