@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col"><MudText ><h1>Hello</h1></MudText></div>
    </div>
    <div class="row">
        <div class="col-md-8"><MudText >My name is Carsten Cleve and i welcome you on my Homepage.<br />
I work currently as a Team Lead at Realcore Services GmbH.<br />

Mainly i am developing Microservices on Azure with different Frontend and Backend Technologies.<br />
I am new to creating blog entries about difficulties i ve in my Projects. <br />

Feel free to read them on medium and connect with me.<br /><br /></MudText></div>
        <div class="col-md-4"><img style="border-radius: 50%;height:150px; width:150px;" src=/img/ich2.jpg /></div>
    </div>
</div>

